* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

    --bg-card-selected: #02799D;
    --bg-card-normal: #E1E1E6;

    --color-item-selected: #FFFFFF;
    --color-item-normal: #323238;
}

body {
    display: grid;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19.2rem;
}

.clock {
    font-weight: 500;
    font-size: 12.6166rem;
    line-height: 14.8rem;
    display: flex;
    text-align: center;
    margin-bottom: 4.8rem;
}

#player {
    display: flex;
    gap: 4rem;
}

#sounds {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.2rem;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 300ms;
}

button:hover {
    transform: scale(1.1);
}

#sounds button:hover {
    opacity: 0.8;
}

.forest svg path,
.rain svg path,
.cafeteria svg path,
.fireplace svg path {
    fill: var(--bg-card-normal)
}

.forest svg path + path,
.rain svg path + path,
.cafeteria svg path + path,
.fireplace svg path + path {
    fill: var(--color-item-normal);
}

.selected svg path {
    fill: var(--bg-card-selected)
}

.selected svg path + path {
    fill: var(--color-item-selected)
}

.hide {
    display: none;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6rem;
    }
    .clock {
        margin-bottom: 2rem;
    }
}